<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
<h1 class="mb-4">Homepage</h1>
<div class="list-group">
    <a href="/authors" class="list-group-item list-group-item-action">Authors</a>
    <a href="/books" class="list-group-item list-group-item-action">Books</a>
    <a href="/books/find" class="list-group-item list-group-item-action">Find Books By YearOfPub and Genre</a>
    <a href="/genres" class="list-group-item list-group-item-action">Genres</a>
    <a href="/borrowers" class="list-group-item list-group-item-action">Borrowers</a>
</div>
</body>
</html>